* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f5f7fa;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    font-family: Montserrat;

}

.educ {
    font-size: 22px;
    padding: 10px;
}

.wrapper {
    background: #b2b4b8;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: dimgray;
}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.myphoto {
    /*border:10px;*/
    /*width: 270px;*/
    /*height: 350px;*/
    object-fit: cover;
    border-radius:50%;
    width: 308px;
    height: 325px;
    padding: 10px;
}

.about-me-container {
    padding-left: 90px;
    padding-top: 110px;
    padding-right: 90px;
    padding-bottom: 110px;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;

}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: green;
    margin-right: 10px;
}

.tech-skill-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.tech-skill-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-skill-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: green;

    margin-left: 15px;
}

.tech-skill-text {
    color: #ffffff;
}

.soft-skill-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.soft-skill-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.soft-skill-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: green;
    margin-left: 15px;
}

.soft-skill-text {
    color: #ffffff;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}

.name {
    color: #000000;

    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    padding: 10px;
}

.info-container {
    margin-bottom: 65px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.projects-link {
    color: #595959;

    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dots {
    color: #939393;
    font-weight: 100;
}

.projects-item {
    font-weight: 700;
    margin-left: 17px;
}

.projects-container {
    margin-bottom: 50px;
}

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.prof-company {
    padding: 10px;
    color: green;

}

.prof-time {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;

}

.prof-divider {
    color: #000;
    margin-bottom: 30px;

}

.prof-duties {
    margin-top: 14px;
    margin-bottom: 30px;
}

.prof-duties-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
